form{
    margin:auto;
    background-color:whitesmoke;
    height: 850px;
    width: 300px;
    border: 1px solid  blue;
    padding: 20px 20px;
    
}
label, select, input{
    display: block;
    padding: 5px 0px;
}