ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li.menu {
    float: left;
    border-right: 1px solid #bbb;
  }

  li.menu:last-child {
    border-right: none;
  }
  
  li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li.menu a:hover {
    background-color: #111;
  }.active {
    background-color: #04AA6D;
  }

  div {
    padding:20px;
    margin-top:30px;
    background-color:rgb(14, 181, 247);
  }
  
  form {
    margin-top:30px;
    text-align: left;
    
  }

  div.citas{
    margin: auto;
    border: 2px solid #000000;
    padding: 10px;
    background-color:rgb(153, 255, 230);
    height: 500px;
  }

  div.citas p {
    margin-top: 225px;
    margin-left: 38%;
    width: 25%;
    border: 2px solid #000000;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    text-decoration-thickness: 5px;
  }
  
  div.historias {
    padding: 0%;
    background-color:rgb(153, 255, 230);
    height: 600px;
  }

  table, th, td {
    border: 2px solid;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  tr {
    height: 100px;
  }
